- @page_title = t('workarea.admin.fulfillment_skus.edit.page_title', sku: @sku.id)

.view
  .view__header
    .grid.grid--middle.grid--right
      .grid__cell.grid__cell--50
        .view__heading
          = link_to_index_for(@sku)
          %h1= link_to @sku.name, url_for(@sku)
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@sku)

  .view__container
    = render_cards_for(@sku, :attributes)

  .view__container.view__container--narrow
    - @sku.errors.full_messages.each do |message|
      = render_message 'error', message

    = form_tag fulfillment_sku_path(@sku), method: :patch, id: 'sku_form', multipart: true, data: { unsaved_changes: '' } do

      .section
        .property
          = label_tag 'sku[id]', t('workarea.admin.fields.sku'), class: 'property__name'
          = @sku.id

        .property
          = label_tag 'sku[policy]', class: 'property__name' do
            %span.property__text= t('workarea.admin.fields.policy')
            = link_to '#policy-info', data: { tooltip: '' } do
              = inline_svg_tag('workarea/admin/icons/help.svg', class: 'svg-icon svg-icon--small svg-icon--blue', title: t('workarea.admin.fields.policy'))

          #policy-info.tooltip-content
            %p
              = t('workarea.admin.fulfillment_skus.edit.policy_info_html')
              = append_partials('admin.fulfillment_sku_policy_info')
          = select_tag 'sku[policy]', options_for_select(fulfillment_policies, @sku.policy.optionize)

        .property
          = label_tag 'sku[file]', t('workarea.admin.fields.file'), class: 'property__name'
          = file_field_tag 'sku[file]'

        .grid
          .grid__cell.grid__cell--50.grid__cell--25-at-medium
            .property
              = label_tag 'sku_updated_at', t('workarea.admin.fields.updated_at'), class: 'property__name'
              = local_time(@sku.updated_at)
          .grid__cell.grid__cell--50.grid__cell--25-at-medium
            .property
              = label_tag 'sku_created_at', t('workarea.admin.fields.created_at'), class: 'property__name'
              = local_time(@sku.created_at)

      .workflow-bar
        .grid.grid--auto.grid--right
          .grid__cell= button_tag t('workarea.admin.fulfillment_skus.edit.save_sku'), value: 'save_sku', class: 'workflow-bar__button workflow-bar__button--update'
