#csv-help.tooltip-content
  %p= t('workarea.admin.shared.csv_formatting_tooltip.tooltip_content_html')

  %p
    %strong= t('workarea.admin.shared.csv_formatting_tooltip.example')
    = t('workarea.admin.shared.csv_formatting_tooltip.escaping_commas_example')
    %br
    %strong= t('workarea.admin.shared.csv_formatting_tooltip.example')
    = t('workarea.admin.shared.csv_formatting_tooltip.escaping_double_quote_example')
