- @page_title = t('workarea.admin.search_customizations.insights.page_title', customization: @customization.name)

.view
  .view__header
    .grid.grid--middle.grid--right
      .grid__cell.grid__cell--50
        .view__heading
          = link_to_index_for(@customization)
          %h1= link_to @customization.name, url_for(@customization)
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@customization)

  .view__container
    = render_cards_for(@customization, :insights)

    .section
      .browsing-controls.browsing-controls--center.browsing-controls--filters-displayed
        = form_tag request.path, method: 'get', class: 'browsing-controls__form' do
          = render 'workarea/admin/shared/date_selector', starts_at: @customization.insights.starts_at, ends_at: @customization.insights.ends_at

      .grid.grid--auto.grid--center
        .grid__cell
          .card
            .card__body.align-center
              %h6.heading.heading--no-margin= t('workarea.admin.search_customizations.insights.searches')
              %span.heading.heading--1.heading--no-margin= number_with_delimiter @customization.insights.searches
              %p
                - if @customization.insights.searches_percent_change.present?
                  = insights_trend_icon(@customization.insights.searches_percent_change)
                  = t('workarea.admin.search_customizations.insights.from_previous', percentage: insights_number_to_percentage(@customization.insights.searches_percent_change))
              = area_chart @customization.insights.searches_graph_data, Workarea.config.default_chartkick_options

        .grid__cell
          .card
            .card__body.align-center
              %h6.heading.heading--no-margin= t('workarea.admin.search_customizations.insights.orders')
              %span.heading.heading--1.heading--no-margin= number_with_delimiter @customization.insights.orders
              %p
                - if @customization.insights.orders_percent_change.present?
                  = insights_trend_icon(@customization.insights.orders_percent_change)
                  = t('workarea.admin.search_customizations.insights.from_previous', percentage: insights_number_to_percentage(@customization.insights.orders_percent_change))
              = area_chart @customization.insights.orders_graph_data, Workarea.config.default_chartkick_options

        .grid__cell
          .card
            .card__body.align-center
              %h6.heading.heading--no-margin= t('workarea.admin.search_customizations.insights.revenue')
              %span.heading.heading--1.heading--no-margin= number_to_currency @customization.insights.revenue
              %p
                - if @customization.insights.revenue_percent_change.present?
                  = insights_trend_icon(@customization.insights.revenue_percent_change)
                  = t('workarea.admin.search_customizations.insights.from_previous', percentage: insights_number_to_percentage(@customization.insights.revenue_percent_change))
              = area_chart @customization.insights.revenue_graph_data, Workarea.config.default_chartkick_options.merge(prefix: Money.default_currency.symbol)

        .grid__cell
          .card
            .card__body.align-center
              %h6.heading.heading--no-margin= t('workarea.admin.search_customizations.insights.units_sold')
              %span.heading.heading--1.heading--no-margin= number_with_delimiter @customization.insights.units_sold
              %p
                - if @customization.insights.units_sold_percent_change.present?
                  = insights_trend_icon(@customization.insights.units_sold_percent_change)
                  = t('workarea.admin.search_customizations.insights.from_previous', percentage: insights_number_to_percentage(@customization.insights.units_sold_percent_change))
              = area_chart @customization.insights.units_sold_graph_data, Workarea.config.default_chartkick_options

  - if @customization.insights.feed.any?
    .view__container.view__container--narrow
      .section
        %h2.align-center= t('workarea.admin.search_customizations.insights.insights_featuring_this_search')
        - @customization.insights.feed.each do |insight|
          = render "workarea/admin/insights/#{insight.slug}", insight: insight
