.insight
  .insight__date
    %span.insight__period= t('workarea.admin.insights.week_ending', date: insight.reporting_on.end_of_week.to_date.to_s(:long))
  .insight__heading= t('workarea.admin.insights.hot_searches.title')
  .insight__body
    %p.insight__note= t('workarea.admin.insights.hot_searches.info')
    %table
      %thead
        %tr
          %th.align-center= t('workarea.admin.insights.hot_searches.term')
          %th.align-center= t('workarea.admin.insights.hot_searches.growth')
          %th.align-center= t('workarea.admin.insights.hot_searches.weeks_revenue')
      %tbody
        - insight.results.each do |result|
          %tr
            %td.align-center
              = form_tag search_customizations_path, method: 'post' do
                = hidden_field_tag 'q', result.query_id, id: nil
                = button_tag result.query_string, class: 'button button--small'
            %td.align-center
              - if result.previous_week_revenue.zero?
                \-
              - else
                %strong= number_to_currency(result.revenue_change)
                %span /
                = insights_number_to_percentage((result.revenue_change / result.previous_week_revenue) * 100)
            %td.align-center= number_to_currency(result.revenue_change)
