- if @recent_views.products.any? || @recent_views.categories.any?
  .recent-views

    - if @recent_views.products.any?
      .recent-views__section.recent-views__section--products
        %h2.recent-views__heading= t('workarea.storefront.recommendations.recent_products')
        .grid
          - @recent_views.products.each do |product|
            = render_schema_org(product_schema(product))
            .grid__cell.grid__cell--50.grid__cell--33-at-medium.grid__cell--16-at-wide
              .product-summary.product-summary--small
                = render 'workarea/storefront/products/summary', product: product

    - if @recent_views.categories.any?
      .recent-views__section.recent-views__section--categories
        %h2.recent-views__heading= t('workarea.storefront.recommendations.recent_categories')
        %ul.recent-views__list
          - @recent_views.categories.each do |category|
            %li.recent-views__item
              = link_to category.name, category_path(category), class: 'recent-views__link'
