<div class="chart-legend">
    <ul class="chart-legend__list">
        <% _.forEach(datasets, function (dataset, index) { %>
            <% disable = _.includes(noInteract, dataset.label) %>
            <li class="chart-legend__list-item <%= disable ? 'chart-legend__list-item--no-interact' : '' %>" style="color: <%= dataset.backgroundColor %>">
                <span class="checkbox">
                    <% checked = !!enabled[dataset.label] %>
                    <input type="checkbox" value="<%= index %>" class="checkbox__input" id="chart_dataset_<%= index %>"<% if (checked) { %> checked="checked"<% } %>>
                    <label for="chart_dataset_<%= index %>" class="checkbox__label">
                        <strong>
                            <%= dataset.label %>
                        </strong>
                    </label>
                </span>
            </li>
        <% }); %>
    </ul>
</div>
