- index_url = index_url_for(@import.model_class, only_path: false)

- if index_url.present?
  = render_schema_org(email_action_schema(index_url, t('workarea.admin.data_file_mailer.import.email_action.name'), t('workarea.admin.data_file_mailer.import.email_action.description')))

%tr
  %td
    %h1= t('workarea.admin.data_file_mailer.import.message', name: @import.file_name)
%tr
  %td
    %p
      = t('workarea.admin.data_file_mailer.import.success', count: pluralize(@import.succeeded, @import.format.unit.downcase))

    - if @import.large? && @release&.large?
      %p
        %strong= t('workarea.admin.data_file_mailer.import.release_delay_warning', name: @release.name)
        - if @release.scheduled?
          = link_to t('workarea.admin.data_file_mailer.import.edit_release_text'), edit_release_url(@release)

- if index_url.present?
  %tr
    %td
      %p
        = link_to t('workarea.admin.data_file_mailer.import.link_text', name: @import.name.pluralize), index_url
