- @page_title = t('workarea.admin.reports.reference.title')

.view
  .view__header
    .view__heading
      = link_to "← #{t('workarea.admin.reports.back')}", :back
      %h1.heading.heading--no-margin= t('workarea.admin.reports.reference.title')
      %p= t('workarea.admin.reports.reference.intro')

  .view__container.view__container--narrow
    .section
      %h2.align-center= t('workarea.admin.reports.reference.terms_title')

      %table
        - @terms.each do |term|
          %tr
            %td
              %strong= term.name
            %td= term.description.presence || term.description_html

    .section
      %h2.align-center= t('workarea.admin.reports.reference.discrepancies_title')
      %p.align-center= t('workarea.admin.reports.reference.discrepancies_description')

      %table
        %tr
          %td
            %strong= t('workarea.admin.reports.reference.discrepancies.definitions.name')
          %td= t('workarea.admin.reports.reference.discrepancies.definitions.description')
        %tr
          %td
            %strong= t('workarea.admin.reports.reference.discrepancies.browser_configuration.name')
          %td= t('workarea.admin.reports.reference.discrepancies.browser_configuration.description')
        %tr
          %td
            %strong= t('workarea.admin.reports.reference.discrepancies.time_zones.name')
          %td= t('workarea.admin.reports.reference.discrepancies.time_zones.description_html', time_zone: Time.zone.name)
        %tr
          %td
            %strong= t('workarea.admin.reports.reference.discrepancies.time_delay.name')
          %td= t('workarea.admin.reports.reference.discrepancies.time_delay.description_html')

        = append_partials('admin.report_reference_discrepancies')

    .section
      %h2.align-center= t('workarea.admin.reports.reference.discrepancies.insights.name')
      %p.align-center= t('workarea.admin.reports.reference.discrepancies.insights.description')
