.activity
  .activity__header
    .activity__avatar
      = link_to_modifier(entry) do
        = avatar_for entry.modifier
    %h3.activity__name= link_to_modifier(entry)
    %p.activity__time= activity_time(entry.occured_at)
  .activity__message= t('workarea.admin.orders.timeline.shipped', count: entry.model.sum(&:quantity))
