<!doctype html>
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "Workarea Documentation" %></title>

    <%= favicon_tag 'images/favicon_180.png', rel: 'apple-touch-icon', type: 'image/x-icon', sizes: '180x180' %>
    <%= favicon_tag 'images/favicon_32.png', sizes: '32x32' %>
    <%= favicon_tag 'images/favicon_16.png', sizes: '16x16' %>
    <meta content='#0060ff' name='msapplication-TileColor'>
    <meta content='#0060ff' name='theme-color'>
    <meta content='#0060ff' name='msapplication-navbar-color'>
    <meta content='#0060ff' name='apple-mobile-web-app-status-bar-style'>

    <meta name='description' content='<%= current_page.data.excerpt || 'Developer Documentation for the Workarea Commerce Platform' %>'>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <%= stylesheet_link_tag "site" %>

    <% if build? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69425367-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-69425367-2');
      </script>
    <% end %>
  </head>
  <body class='<%= body_classes('body--nude') %>'>

    <%= partial 'shared/header' %>

    <div class='view view--full'>
      <div class='grid grid--huge'>
        <div class='grid__cell 1/4--lap-and-up 1/5--widescreen'>
          <aside class='aside'>
            <% form_tag '/search.html', class: 'aside__search', method: 'get' do %>
              <button type='submit' class='aside__search-button'>
                <%= image_tag 'search.svg', class: 'aside__search-button-img' %>
              </button>
              <input type='search' name='q' placeholder='Search the Docs' class='aside__search-input' autocomplete='off' id='search'>
            <% end %>

            <nav class='nav'>
              <button type='button' class='[ button button--full button--no-arrow ] hide-for-lap-and-up' data-open-nav=''>Table of Contents</button>
              <ul class='nav__menu hide-for-pocket'>
                <li class='parent'>
                  <span class='parent-label'>Recent Articles</span>
                  <ul>
                    <% recent_articles.each do |article| %>
                      <li class='child'>
                        <%= link_to article.data.title, article.url %>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <%= tree_to_html(data.articles) %>
              </ul>
            </nav>
          </aside>
        </div>

        <article class='grid__cell 3/4--lap-and-up 3/5--widescreen'>
          <div class='article'>
            <%= yield %>
          </div>

          <nav class='pagination'>
            <ul class='grid'>
              <li class='grid__cell 1/2'>
                <% if previous_link(data.articles).present? %>
                  <p>⟵<%= previous_link(data.articles) %></p>
                <% end %>
              </li>
              <li class='grid__cell 1/2'>
                <% if next_link(data.articles).present? %>
                  <p class='align-right'><%= next_link(data.articles) %>⟶</p>
                <% end %>
              </li>
            </ul>
          </nav>

          <section class='feedback'>
            <h2>Help Us Improve this Doc</h2>
            <p>Was this helpful? Open a GitHub issue to report a problem with this doc, suggest an improvement, or otherwise provide feedback. Thanks!</p>
            <p>
              <%=
                link_to(
                  'Open GitHub Issue',
                  "https://github.com/workarea-commerce/workarea/issues/new" +
                    "?template=documentation-request.md" +
                    "&labels=documentation" +
                    "&title=Feedback for \"#{current_page.data.title}\" doc" +
                    "&body=Feedback for \"#{current_page.data.title}\" (#{current_page.url}):",
                  class: 'button',
                  target: '_blank'
                )
              %>
            </p>
          </section>
        </article>

        <div class='grid__cell 1/5--widescreen'>
          <div class='skip-to'>
            <aside class='skip-to__menu'>
              <ul><!-- Contents build via JavaScript --></ul>
            </aside>
          </div>
        </div>
      </div>
    </div>

    <a class="github-fork-ribbon left-bottom fixed" href="https://github.com/workarea-commerce" target="_blank" data-ribbon="Now On GitHub" title="Now On GitHub">Now on GitHub</a>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "vendor/highlight.pack" %>
    <%= javascript_include_tag "lunr" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
