- @page_title = t('workarea.admin.create_users.admin.page_title')

.view
  .view__header
    .grid.grid--middle.grid--center
      .grid__cell.grid__cell--50
        .view__heading
          %h1= t('workarea.admin.create_users.admin.title')

  .view__container
    - @user.errors.full_messages.each do |message|
      = render_message 'error', message

    = form_tag create_users_path, method: 'post' do
      = hidden_field_tag 'user[admin]', true
      = hidden_field_tag 'user[created_by_id]', current_user.id

      - if current_user.permissions_manager?
        .grid
          .grid__cell.grid__cell--50
            .property.property--required
              = label_tag 'user[email]', t('workarea.admin.fields.email'), class: 'property__name'
              = email_field_tag 'user[email]', @user.email, class: 'text-box', required: true, autocomplete: 'off'

            .grid.grid--huge
              .grid__cell.grid__cell--50
                .property
                  = label_tag 'user[first_name]', t('workarea.admin.fields.first_name'), class: 'property__name'
                  = text_field_tag 'user[first_name]', @user.first_name, class: 'text-box', autocomplete: 'off'
              .grid__cell.grid__cell--50
                .property
                  = label_tag 'user[last_name]', t('workarea.admin.fields.last_name'), class: 'property__name'
                  = text_field_tag 'user[last_name]', @user.last_name, class: 'text-box', autocomplete: 'off'

            .property
              = label_tag 'user[password]', t('workarea.admin.fields.password'), class: 'property__name'
              = password_field_tag 'user[password]', nil, class: 'text-box', autocomplete: 'off'
              %span.property__note= t('workarea.admin.create_users.automatic_password_note')

            .property
              = label_tag 'user[tag_list]', t('workarea.admin.fields.tags'), class: 'property__name'
              = text_field_tag 'user[tag_list]', @user.tag_list, class: 'text-box'
              %span.property__note= t('workarea.admin.form.csv_field_note')

            .property
              %span.property__name= t('workarea.admin.fields.send_account_creation_email')
              = toggle_button_for 'send_account_creation_email', params[:send_account_creation_email].blank? || params[:send_account_creation_email].to_s =~ /true/

          .grid__cell.grid__cell--50
            .section
              %h3.heading.align-center= t('workarea.admin.users.permissions.admin_access')
              .grid.grid--center
                .grid__cell.grid__cell--60
                  .property
                    = check_box :user, :permissions_manager, checked: true
                    = label_tag 'user[permissions_manager]', t('workarea.admin.users.permissions.can_grant_or_revoke_permissions'), class: 'property__name'

                  .property
                    = check_box :user, :can_publish_now, checked: true
                    = label_tag 'user[can_publish_now]', t('workarea.admin.users.permissions.can_publish_now'), class: 'property__name'
                    = link_to '#can-publish-warning', data: { tooltip: '' } do
                      = inline_svg_tag('workarea/admin/icons/help.svg', class: 'svg-icon svg-icon--small svg-icon--blue', title: t('workarea.admin.users.permissions.can_publish_now_info'))

                    #can-publish-warning.tooltip-content
                      %p= t('workarea.admin.users.permissions.can_publish_now_message')

                  .property
                    = check_box :user, :can_restore, checked: true
                    = label_tag 'user[can_restore]', t('workarea.admin.users.permissions.can_restore_deleted_items'), class: 'property__name'

                  .property
                    = check_box :user, :status_email_recipient, checked: true
                    = label_tag 'user[status_email_recipient]', t('workarea.admin.users.permissions.status_email'), class: 'property__name'

            .section
              %h3.align-center= t('workarea.admin.users.permissions.admin_areas')
              .grid.grid--center
                .grid__cell.grid__cell--60
                  .grid.align-center
                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :releases_access, checked: true
                        = label_tag 'user_releases_access', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/release.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.releases')

                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :store_access, checked: true
                        = label_tag 'user_store_access', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/pages.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.store')

                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :search_access, checked: true
                        = label_tag 'user_search_access', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/search.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.search')

                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :catalog_access, checked: true
                        = label_tag 'user_catalog_access', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/products.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.catalog')

                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :orders_access, checked: true
                        = label_tag 'user_orders_access', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/orders.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.orders')

                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :people_access, checked: true
                        = label_tag 'user_people_access', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/user.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.people')

                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :marketing_access, checked: true
                        = label_tag 'user_marketing_access', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/insights.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.marketing')

                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :settings_access, checked: true
                        = label_tag 'user_settings_access', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/settings.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.settings')

                    .grid__cell.grid__cell--50
                      .property
                        = check_box :user, :help_admin, checked: true
                        = label_tag 'user_help_admin', class: 'property__name' do
                          = inline_svg_tag('workarea/admin/icons/help.svg', class: 'svg-icon')
                          %span= t('workarea.admin.users.permissions.help')

                    = append_partials('admin.user_permissions')

      .workflow-bar
        .grid.grid--middle
          .grid__cell.grid__cell--20
            - if @user.new_record?
              = link_to t('workarea.admin.form.cancel'), users_path, class: 'workflow-bar__button workflow-bar__button--delete'

          .grid__cell.grid__cell--60
            %ol.workflow-bar__steps
              %li.workflow-bar__step 1) #{link_to t('workarea.admin.create_users.workflow_bar.select_type'), create_users_path}
              %li.workflow-bar__step
                %strong 2) #{t('workarea.admin.create_users.workflow_bar.setup')}

          .grid__cell.grid__cell--20
            .grid.grid--auto.grid--right.grid--middle
              .grid__cell= button_tag t('workarea.admin.create_users.admin.create_admin'), value: 'continue', class: 'workflow-bar__button workflow-bar__button--create'
