#text-button.style-guide__subsection

  %h3= link_to_style_guide('components', 'text_button')

  %p Displays an element as a bold link, underlined on hover. Primarily used for styling secondary actions, like "Cancel" next to a "Submit" action.

  %p should work with <code>button[type=button]</code> elements:
  .style-guide__example-block
    = button_tag 'Text Button', class: 'text-button', type: 'button'

  %p should work with <code>button[type=submit]</code> elements:
  .style-guide__example-block
    = button_tag 'Text Button', class: 'text-button', type: 'submit'

  %p should work with <code>input[type=submit]</code> elements:
  .style-guide__example-block
    = submit_tag 'Text Button', class: 'text-button'

  %p should work with <code>a</code> elements:
  .style-guide__example-block
    = link_to 'Text Button', '#', class: 'text-button'

  %p should style non-interactive buttons wrapped in an <code>a</code> element:
  .style-guide__example-block
    = link_to '#' do
      %span.text-button Span Text Button
