%tr
  %td
    %h1= t('workarea.admin.comment_mailer.notify.title', site: Workarea.config.site_name)
    %p
      - if @comment.author.present?
        %strong= @comment.author_name
        = t('workarea.admin.comment_mailer.notify.posted_a_comment_about')
      - else
        = t('workarea.admin.comment_mailer.notify.new_comment_about')
      = link_to @commentable.name, url_for(@commentable)

    .comment
      = @comment.body
      %span.comment__author-info
        - if @comment.author.present?
          = t('workarea.admin.comment_mailer.notify.by')
          = link_to @comment.author_name, edit_user_url(@comment.author)
          |
        = t('workarea.admin.comment_mailer.notify.posted_at')
        = @comment.created_at.to_s(:long)

    .align-center.section
      = link_to t('workarea.admin.comment_mailer.notify.reply_to_this_comment'), commentable_comments_url(@commentable.to_global_id), class: 'button'

    - if @comments.any?
      %h2= t('workarea.admin.comment_mailer.notify.discussion_history')

      - @comments.each_with_index do |comment, i|
        .comment
          = comment.body
          %span.comment__author-info
            - if comment.author.present?
              = t('workarea.admin.comment_mailer.notify.by')
              = link_to comment.author_name, edit_user_url(comment.author)
              |
            = t('workarea.admin.comment_mailer.notify.posted_at')
            = comment.created_at.to_s(:long)

    - if @comments.length > 5
      .align-center.section
        = link_to t('workarea.admin.comment_mailer.notify.post_a_comment'), commentable_comments_url(@commentable.to_global_id), class: 'button'

    %p.align-center
      = link_to t('workarea.admin.comment_mailer.notify.unsubscribe_from_notifications', commentable_name: @commentable.name), commentable_unsubscribe_url(@user.token, commentable_id: @commentable.to_global_id)
