!!!
/
  Platform: Workarea Ecommerce
  Web:      http://workarea.com
  Email:    sales@workarea.com
  Phone:    215-925-1800
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title= page_title
    %meta{ name: 'robots', content: 'noodp' }
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ property: 'locale', content: I18n.locale }
    %meta{ property: 'environment', content: Rails.env }
    = alternate_locales_tags
    = render 'workarea/storefront/favicons/tags'
    %link{ rel: 'manifest', href: web_manifest_path }
    %meta{ name: 'theme-color', content: Workarea.config.web_manifest.theme_color }

    :css
      @-ms-viewport { width: device-width; }
    = yield :head
    = stylesheet_link_tag Workarea.config.asset_manifests.storefront_stylesheet, media: 'all'
    = yield :css

    = append_partials('storefront.document_head')
    = javascript_include_tag Workarea.config.asset_manifests.storefront_javascript_head

  %body
    = append_partials('storefront.body_top')

    %nav.accessibility-nav.visually-hidden
      = link_to t('workarea.storefront.layouts.accessibility_info'), accessibility_path
      = link_to t('workarea.storefront.layouts.main_content'), '#main_content', accesskey: 'S'

    .page-messages{ role: 'complementary' }
      = flash_messages if flash.present?

    #top.page-container

      .page-header.page-header--checkout{ role: 'banner' }

        .content-wrapper

          .grid.grid--middle
            .grid__cell.grid__cell--50-at-medium
              = link_to image_tag('workarea/storefront/logo.png', alt: t('workarea.storefront.layouts.logo'), class: 'page-header__logo', width: 256), root_path, rel: 'home'

            .grid__cell.grid__cell--50-at-medium
              %ul.order-help-menu
                %li.order-help-menu__item
                  = link_to t('workarea.storefront.layouts.contact_us'), contact_path, data: { dialog_button: '', controller: 'dialog', action: 'ajax:success->dialog#create' }, remote: true
                %li.order-help-menu__item
                  = link_to page_path('shipping-information'), target: '_blank', rel: 'noopener', data: { dialog_button: '', controller: 'dialog', action: 'ajax:success->dialog#create' }, remote: true do
                    = t('workarea.storefront.layouts.shipping_policy')
                %li.order-help-menu__item
                  = link_to page_path('return-information'), target: '_blank', rel: 'noopener', data: { dialog_button: '', controller: 'dialog', action: 'ajax:success->dialog#create' }, remote: true do
                    = t('workarea.storefront.layouts.returns')

      .page-content.page-content--checkout

        .content-wrapper

          = render 'workarea/storefront/checkouts/checkout_progress' if @checkout_step.present?

          - content_for_page_aside = yield :page_aside

          .grid
            .grid__cell{ class: ('grid__cell--66-at-medium grid__cell--80-at-wide' if content_for_page_aside.present?)}
              #main_content.page-content__main{ role: 'main', class: ('page-content__main--full-width' if content_for_page_aside.empty?) }
                = yield
                %p.visually-hidden= link_to t('workarea.storefront.layouts.top_of_page'), '#top'

            - if content_for_page_aside.present?
              .grid__cell.grid__cell--33-at-medium.grid__cell--20-at-wide
                .page-content__aside{ role: 'complementary' }
                  = content_for_page_aside
                  %p.visually-hidden= link_to t('workarea.storefront.layouts.top_of_page'), '#top'

      .page-footer{ role: 'contentinfo' }

        %p.page-footer__copyright © #{Time.current.year}

        %p.visually-hidden= link_to t('workarea.storefront.layouts.top_of_page'), '#top'

    - if Workarea.config.enable_webpacker
      = javascript_pack_tag Workarea.config.asset_manifests.storefront_javascript_pack
    - else
      = javascript_include_tag Workarea.config.asset_manifests.storefront_javascript

    = yield :javascript
    = append_partials('storefront.javascript')
