.property{ class: ('property--required' if field.required?), data: field.options[:html_data_attributes] }
  = label_tag dom_id(block, field.slug), class: 'property__name' do
    = field.name
    - if field.tooltip.present?
      = link_to "##{dom_id(block, field.slug)}_tooltip", data: { tooltip: '' } do
        = inline_svg_tag('workarea/admin/icons/help.svg', class: 'svg-icon svg-icon--small svg-icon--blue', title: t('workarea.admin.content_blocks.tooltips.more_info'))

  - if field.note.present?
    %span.property__note= field.note
  .color-picker
    = color_field_tag "block[data][#{field.slug}]", block.data[field.slug], id: nil, class: 'color-picker__input', required: field.required?, list: (color_picker_id(block, field) if field.presets.present?)
    - if field.presets.present?
      %datalist{ id: color_picker_id(block, field) }
        - field.presets.each do |color|
          %option= color

- if field.tooltip.present?
  .tooltip-content{ id: "#{dom_id(block, field.slug)}_tooltip" }
    %p= field.tooltip
