.property{ class: ('property--required' if field.required?), data: field.options[:html_data_attributes] }
  = label_tag dom_id(block, field.slug), class: 'property__name' do
    = field.name
    - if field.tooltip.present?
      = link_to "##{dom_id(block, field.slug)}_tooltip", data: { tooltip: '' } do
        = inline_svg_tag('workarea/admin/icons/help.svg', class: 'svg-icon svg-icon--small svg-icon--blue', title: t('workarea.admin.content_blocks.tooltips.more_info'))

  - if field.note.present?
    %span.property__note= field.note
  = taxonomy_select "block[data][#{field.slug}]", block.data[field.slug]

- if field.tooltip.present?
  .tooltip-content{ id: "#{dom_id(block, field.slug)}_tooltip" }
    %p= field.tooltip
