%tr
  %td
    %h1= t('workarea.admin.status_report_mailer.title', site: Workarea.config.site_name)
    %p= t('workarea.admin.status_report_mailer.description', date: @date.to_s(:long))

    .box
      %h2= t('workarea.admin.status_report_mailer.orders.title')

      %ul
        %li
          = link_to sales_over_time_report_url(starts_at: 1.day.ago.to_s(:date_only), ends_at: 1.day.ago.to_s(:date_only), group_by: 'day'), class: 'heading heading--3 heading--no-margin' do
            = number_with_delimiter @dashboard.yesterday.orders
            = t('workarea.admin.status_report_mailer.orders.total_orders')
        %li
          = link_to sales_over_time_report_url(starts_at: 1.day.ago.to_s(:date_only), ends_at: 1.day.ago.to_s(:date_only), group_by: 'day'), class: 'heading heading--3 heading--no-margin' do
            = number_with_delimiter @dashboard.yesterday.units_sold
            = t('workarea.admin.status_report_mailer.orders.units_sold')
        %li
          = link_to sales_over_time_report_url(starts_at: 1.day.ago.to_s(:date_only), ends_at: 1.day.ago.to_s(:date_only), group_by: 'day'), class: 'heading heading--3 heading--no-margin' do
            = number_to_currency @dashboard.yesterday.revenue
            = t('workarea.admin.status_report_mailer.orders.revenue')
        %li
          = link_to sales_over_time_report_url(starts_at: 1.day.ago.to_s(:date_only), ends_at: 1.day.ago.to_s(:date_only), group_by: 'day'), class: 'heading heading--3 heading--no-margin' do
            = number_to_currency @dashboard.yesterday.discounts
            = t('workarea.admin.status_report_mailer.orders.discounts')
        %li
          = link_to sales_over_time_report_url(starts_at: 1.day.ago.to_s(:date_only), ends_at: 1.day.ago.to_s(:date_only), group_by: 'day'), class: 'heading heading--3 heading--no-margin' do
            = number_with_delimiter @dashboard.yesterday.customers
            = t('workarea.admin.status_report_mailer.orders.customers')

    - if @alerts.size > 0
      .box
        %h2= t('workarea.admin.status_report_mailer.alerts.title')

        %ul
          - if @alerts.show_products_missing_prices?
            %li
              = link_to catalog_products_url(status: ['active'], issues: [t('workarea.alerts.issues.sku_missing_price')]) do
                = @alerts.products_missing_prices
                = t('workarea.admin.status_report_mailer.alerts.products_without_prices')
          - if @alerts.show_empty_categories?
            %li
              = link_to catalog_categories_url(issues: [t('workarea.alerts.issues.no_displayable_products')]) do
                = @alerts.empty_categories
                = t('workarea.admin.status_report_mailer.alerts.empty_categories')
          - if @alerts.show_products_missing_images?
            %li
              = link_to catalog_products_url(status: ['active'], issues: [t('workarea.alerts.issues.no_images')]) do
                = @alerts.products_missing_images
                = t('workarea.admin.status_report_mailer.alerts.products_without_images')
          - if @alerts.show_products_missing_descriptions?
            %li
              = link_to catalog_products_url(status: ['active'], issues: [t('workarea.alerts.issues.no_description')]) do
                = @alerts.products_missing_descriptions
                = t('workarea.admin.status_report_mailer.alerts.products_without_descriptions')
          - if @alerts.show_products_missing_variants?
            %li
              = link_to catalog_products_url(issues: [t('workarea.alerts.issues.no_variants')]) do
                = @alerts.products_missing_variants
                = t('workarea.admin.status_report_mailer.alerts.products_without_variants')
          - if @alerts.show_products_missing_categories?
            %li
              = link_to catalog_products_url(status: ['active'], issues: [t('workarea.alerts.issues.no_categories')]) do
                = @alerts.products_missing_categories
                = t('workarea.admin.status_report_mailer.alerts.products_without_categories')
          - if @alerts.show_products_low_inventory?
            %li
              = link_to catalog_products_url(status: ['active'], issues: [t('workarea.alerts.issues.low_inventory')]) do
                = @alerts.products_low_inventory
                = t('workarea.admin.status_report_mailer.alerts.products_with_low_inventory')
          - if @alerts.show_products_variants_missing_details?
            %li
              = link_to catalog_products_url(issues: [t('workarea.alerts.issues.variants_missing_details')]) do
                = @alerts.products_variants_missing_details
                = t('workarea.admin.status_report_mailer.alerts.products_with_variants_missing_details')
          - if @alerts.show_products_inconsistent_variant_details?
            %li
              = link_to catalog_products_url(issues: [t('workarea.alerts.issues.inconsistent_variant_details')]) do
                = @alerts.products_inconsistent_variant_details
                = t('workarea.admin.status_report_mailer.alerts.products_with_inconsistent_variant_details')
          - if @alerts.show_missing_segments?
            %li
              = link_to search_url(active_by_segment: @alerts.missing_segments) do
                = @alerts.missing_segments.length
                = t('workarea.admin.status_report_mailer.alerts.segmented_resoures_missing_segments')
          - if @alerts.empty_upcoming_releases.any?
            %li
              = link_to releases_url do
                = @alerts.empty_upcoming_releases.length
                = t('workarea.admin.status_report_mailer.alerts.upcoming_empty_releases')

    - if @user.present?
      %p.align-center
        = link_to t('workarea.admin.status_report_mailer.unsubscribe'), status_report_unsubscribe_url(@user.token)

= append_partials('admin.status_report_mailer')
