.activity
  .activity__header
    .activity__avatar
      = link_to_modifier(entry) do
        = avatar_for entry.modifier
    %h3.activity__name= link_to_modifier(entry)
    %p.activity__time= activity_time(entry.created_at)
  .activity__message
    - name = entry.root.blank? ? t('workarea.admin.activities.a_product') : link_to(entry.root.name, catalog_product_path(entry.root))
    = t('workarea.admin.activities.catalog_product_image_destroy_html', name: name)
    = link_to_restore_for(entry)
