.activity
  .activity__header
    .activity__avatar
      = link_to_modifier(entry) do
        = avatar_for entry.modifier
    %h3.activity__name= link_to_modifier(entry)
    %p.activity__time= activity_time(entry.created_at)
  .activity__message
    - name = entry.audited.blank? ? entry.model_name : link_to(entry.audited.name, content_asset_path(entry.audited))
    = t('workarea.admin.activities.content_asset_update_html', fields: fields_clause_for(entry.tracked_changes), name: name)
    = render 'workarea/admin/activities/release_info', entry: entry
