.activity
  .activity__header
    .activity__avatar
      = link_to_modifier(entry) do
        = avatar_for entry.modifier
    %h3.activity__name= link_to_modifier(entry)
    %p.activity__time= activity_time(entry.created_at)
  .activity__message
    = t('workarea.admin.activities.navigation_redirect_create_html', from: entry.model_attributes['path'], to: entry.model_attributes['destination'])
