= append_partials('storefront.order_reminder_mailer.top')

- content_for :preheader_text do
  = @content

%tr
  %td
    = @content
    %p= t('workarea.storefront.email.order_reminder.info_html', link: link_to(t('workarea.storefront.email.order_reminder.resume_link'), resume_cart_url(@order.token)))

    %h2= t('workarea.storefront.orders.items')
    %table.product-grid
      - @order.items.each_slice(4) do |item_row|
        %tr
          - item_row.each do |item|
            %td.stack-column-center
              %table.product-grid__product{ role: 'presentation', width: '100%' }
                %tr
                  %td.product-grid__image
                    = link_to product_url(item.product, sku: item.sku), class: 'product-grid__link' do
                      = image_tag(product_image_url(item.product.primary_image, :medium_thumb), alt: item.product_name)
                %tr
                  %td.product-grid__info
                    = link_to product_url(item.product, sku: item.sku), class: 'product-grid__link' do
                      .product-grid__name= item.product_name
                    = item.sku
                %tr
                  %td.product-grid__info
                    %strong= t('workarea.storefront.orders.quantity')
                    = item.quantity

= render 'workarea/storefront/mailers/recommendations', recommendations: @recommendations

= append_partials('storefront.order_reminder_mailer.bottom')
