- @page_title = t('workarea.admin.releases.index.page_title')

.view
  .view__header
    .grid.grid--center
      .grid__cell.grid__cell--50
        .view__heading
          = link_to "↑ #{t('workarea.admin.releases.index.index_link')}", releases_path
          %h1.heading--no-margin= t('workarea.admin.releases.index.title')

  .view__container
    .browsing-controls.browsing-controls--with-divider.browsing-controls--center{ class: ('browsing-controls--filters-displayed' unless @search.toggle_facets?) }
      = form_tag list_releases_path, method: 'get', id: 'release_search_form', class: 'browsing-controls__form' do
        = facet_hidden_inputs(@search.facets)
        .browsing-controls__sort
          .property.property--inline
            = label_tag 'sort', t('workarea.admin.search.sort_by'), class: 'property__name'
            = select_tag :sort, options_for_select(@search.sorts, selected: @search.sort), data: { form_submitting_control: '' }

        .browsing-controls__search
          .search-form
            = text_field_tag :q, params[:q], class: 'search-form__input', id: 'search_releases', title: t('workarea.admin.search.keywords'), placeholder: t('workarea.admin.search.keywords')
            = submit_tag 'search_releases', class: 'search-form__button'

        .browsing-controls__filter.browsing-controls__filter--date
          %button.browsing-controls__filter-button{ type: 'button', data: { filter_dropdown: "#filters-dropdown-date" } }
            = t('workarea.admin.fields.published_at')
            = inline_svg_tag('workarea/admin/icons/calendar.svg', class: 'browsing-controls__filter-button-icon svg-icon svg-icon--small')

          #filters-dropdown-date.browsing-controls__filter-dropdown
            .grid
              .grid__cell.grid__cell--50
                .property.property--inline
                  = label_tag 'published_at_greater_than', t('workarea.admin.search.creation_date_filter'), class: 'property__name'
                  = datetime_picker_tag 'published_at_greater_than', params[:published_at_greater_than], class: 'text-box', placeholder: t('workarea.admin.search.start_date'), data: { datepicker_field: { inline: true }, datepicker_field_starts_at: '' }
              .grid__cell.grid__cell--50
                .property.property--inline
                  = datetime_picker_tag 'published_at_less_than', params[:published_at_less_than], class: 'text-box', placeholder: t('workarea.admin.search.end_date'), data: { datepicker_field: { inline: true }, datepicker_field_ends_at: '' }
            .browsing-controls__filter-dropdown-submit
              .grid.grid--auto.grid--middle.grid--center
                .grid__cell= label_tag 'quick_range', t('workarea.admin.date_selector.or_choose')
                .grid__cell= select_tag 'quick_range', options_for_select(date_selector_quick_range_options)
                .grid__cell= t('workarea.admin.date_selector.and')
                .grid__cell= submit_tag t('workarea.admin.search.submit'), name: 'filter_by_creation_date', class: 'button button--small'

        - if @search.facets.present?
          - @search.facets.each do |facet|
            = render "workarea/admin/facets/#{facet.type}", facet: facet

        - if @search.toggle_facets?
          .browsing-controls__toggle-filters
            %button.text-button{ type: 'button', data: { toggle_filters: '' } }= t('workarea.admin.search.show_filters')

      = render 'workarea/admin/facets/applied', search: @search, reset_path: list_releases_path

      %p.browsing-controls__count{ data: { browsing_controls_count: @search.total } }
        = pluralize(@search.total, 'release')

    - if @search.results.any?
      %table.index-table
        %thead
          %tr
            %th.index-table__control-cell
              .checkbox
                = check_box_tag 'select_all', nil, false, id: 'select_all', class: 'checkbox__input', data: { bulk_action_select_all: '' }
                = label_tag 'select_all', t('workarea.admin.bulk_actions.select_all'), class: 'checkbox__label'
            %th= t('workarea.admin.fields.name')
            %th.align-center= t('workarea.admin.fields.publishes')
            %th= t('workarea.admin.fields.last_published')
            %th= t('workarea.admin.fields.updated_at')
        %tbody
          - @search.results.each do |result|
            %tr.index-table__row{ class: ('index-table__row--inactive' unless result.upcoming?) }
              %td.index-table__control-cell
                .checkbox
                  = check_box_tag 'global_id', result.to_gid_param, false, class: 'checkbox__input', id: dom_id(result), data: { bulk_action_item: '' }
                  = label_tag dom_id(result), '', class: 'checkbox__label', title: t('workarea.admin.bulk_actions.add_summary_button')
              %td
                = link_to result.name, result
                = comments_icon_for(result)
              %td.align-center
                - if result.publish_at.present?
                  #{local_time_ago(result.publish_at)}
                - else
                  = t('workarea.admin.releases.index.unscheduled')
              %td
                - if result.published_at.present?
                  = local_time_ago(result.published_at)
                - else
                  = t('workarea.admin.releases.index.never')
              %td= local_time_ago(result.updated_at)

    - if @search.results.total_pages > 1
      = render 'workarea/admin/shared/pagination', collection: @search.results

    .workflow-bar
      .grid
        .grid__cell.grid__cell--50
          = render 'workarea/admin/shared/bulk_actions', klass: Workarea::Release, search: @search, import: false, export: false
        .grid__cell.grid__cell--50
          .grid.grid--auto.grid--right
            - calendar_feed_url = calendar_feed_releases_url(token: current_user.token, protocol: 'webcal')
            .grid__cell= button_tag t('workarea.admin.releases.index.add_to_calendar.link_text'), class: 'workflow-bar__button', data: { add_to_calendar_button: { initial: '#calendar-tooltip', moreInfo: '#google-calendar-info' }.as_json }
            .grid__cell= link_to t('workarea.admin.releases.index.add_new_release'), create_releases_path, id: 'add_release', class: 'workflow-bar__button workflow-bar__button--create'
          #calendar-tooltip.tooltip-content.tooltip-content--no-padding
            .add-to-calendar
              %ul.add-to-calendar__list
                %li.add-to-calendar__item
                  = link_to calendar_feed_url, class: 'grid grid--auto grid--middle grid--large', data: { add_to_calendar_button_toggle: '' } do
                    %span.grid__cell= image_tag 'workarea/admin/icons/google_calendar.svg', size: '24x24'
                    %span.grid__cell
                      %span.add-to-calendar__link= t('workarea.admin.releases.index.add_to_calendar.tooltip.google_calendar')
                %li.add-to-calendar__item
                  = link_to calendar_feed_url, class: 'grid grid--auto grid--middle grid--large' do
                    %span.grid__cell= image_tag 'workarea/admin/icons/apple_calendar.svg', size: '24x24'
                    %span.grid__cell
                      %span.add-to-calendar__link= t('workarea.admin.releases.index.add_to_calendar.tooltip.apple_calendar')
                %li.add-to-calendar__item
                  = link_to calendar_feed_url, class: 'grid grid--auto grid--middle grid--large' do
                    %span.grid__cell= image_tag 'workarea/admin/icons/outlook.svg', size: '24x24'
                    %span.grid__cell
                      %span.add-to-calendar__link= t('workarea.admin.releases.index.add_to_calendar.tooltip.outlook')
            .hidden
              #google-calendar-info= t('workarea.admin.releases.index.add_to_calendar.tooltip.google_calendar_instructions_html', calendar_feed_url: calendar_feed_url)
