- @page_title = t('workarea.admin.releases.undo.page_title', name: @release.name)

.view
  .view__header
    .grid.grid--middle.grid--right
      .grid__cell.grid__cell--50
        .view__heading
          = link_to "↑ #{t('workarea.admin.releases.undo.index_link')}", releases_path
          %h1= link_to @release.name, url_for(@release)
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@release)

  .view__container
    = render_cards_for(@release, :undo)

  .view__container.view__container--narrow
    .section
      - if @release.changesets_with_releasable.empty?
        .grid.grid--center
          .grid__cell.grid__cell--50
            %h2.align-center= t('workarea.admin.releases.undo.undoing')
            %p.align-center= t('workarea.admin.releases.undo.no_changes_html', plan_changes: link_to(t('workarea.releases.undo.plan_changes'), release_releasables_path(@release)))

      - elsif @release.undo.blank?
        .grid.grid--center
          .grid__cell.grid__cell--50
            %h2.align-center= t('workarea.admin.releases.undo.undoing')
            %p.align-center= t('workarea.admin.releases.undo.description')
            %p.align-center= link_to "#{t('workarea.admin.releases.undo.build_an_undo_now')} →", new_release_undo_path(@release), class: 'button'
      - else
        .grid.grid--center
          .grid__cell.grid__cell--25
            %p.text.text--large= t('workarea.admin.releases.undo.created_description_html', undo: link_to(@release.undo.name, @release.undo), original: link_to(@release.name, @release), at: local_time_ago(@release.created_at))
          .grid__cell.grid__cell--25.align-center
            .card{ class: card_classes(:planned_changes) }
              = link_to @release.undo, class: 'card__header' do
                %span.card__header-text= @release.undo.name
                = inline_svg_tag 'workarea/admin/icons/planned_changes.svg', class: 'card__icon'

              .card__body
                - if @release.undo.changesets_with_releasable.empty?
                  %p.card__empty-note= t('workarea.admin.releases.undo.no_changes_for_this_release')
                - else
                  - @release.undo.changesets_with_releasable.take(3).each do |changeset|
                    .activity
                      .activity__header
                        .activity__avatar
                          = changeset_icon changeset, { class: 'svg-icon'}
                        .activity__name= changeset.release.name
                        .activity__time
                          = changeset.publish_humanized
                          - if changeset.release_date.present?
                            = local_time(changeset.release_date, :long)
                      .activity__message
                        .release-changeset.release-changeset--activity
                          .release-changeset__body
                            - changeset.changed_fields.each do |field|
                              = render_changeset_field(changeset, field)

                  = link_to @release.undo, class: 'card__button' do
                    %span.button.button--small= t('workarea.admin.releases.undo.view_the_undo_release')



