- @page_title = "#{t('workarea.admin.create_content_pages.publish.publish_title', title: @page.name)}"

.view
  .view__header
    .grid.grid--right
      .grid__cell.grid__cell--50
        .view__heading
          %h1.heading.heading--no-margin= t('workarea.admin.create_content_pages.publish.when_live', page_name: @page.name)
          %p= link_to t('workarea.admin.create_content_pages.workflow.or_skip_this'), url_for(@page)
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@page, html_options: { target: @page.id })

  .view__container.view__container--narrow
    = form_tag save_publish_create_content_page_path(@page), method: 'post' do
      .section
        .grid.grid--center
          .grid__cell.grid__cell--40-at-medium
            = render 'workarea/admin/releases/publish'
            = render 'workarea/admin/segments/publish', model: @page

      .workflow-bar
        .grid.grid--middle
          .grid__cell.grid__cell--20
            = link_to t('workarea.admin.form.cancel'), content_page_path(@page), class: 'workflow-bar__button workflow-bar__button--delete', data: { method: 'delete', confirm: t('workarea.admin.create_content_pages.workflow.delete_confirmation') }

          .grid__cell.grid__cell--60
            %ol.workflow-bar__steps
              %li.workflow-bar__step 1) #{link_to t('workarea.admin.create_content_pages.workflow.setup'), edit_create_content_page_path(@page)}
              %li.workflow-bar__step 2) #{link_to t('workarea.admin.create_content_pages.workflow.content'), content_create_content_page_path(@page)}
              %li.workflow-bar__step 3) #{link_to t('workarea.admin.create_content_pages.workflow.taxonomy'), taxonomy_create_content_page_path(@page)}
              %li.workflow-bar__step
                %strong 3) #{t('workarea.admin.create_content_pages.workflow.publish')}

          .grid__cell.grid__cell--20
            .grid.grid--auto.grid--right.grid--middle
              .grid__cell= button_tag t('workarea.admin.create_content_pages.publish.save_and_finish'), value: 'publish', class: 'workflow-bar__button workflow-bar__button--create'
