- @page_title = t('workarea.admin.content_assets.insert.page_title')

.view{ data: { turbolinks: false, asset_picker: '' } }
  .grid.grid--middle.grid--center
    .grid__cell.grid__cell--50
      %h1.view__heading= t('workarea.admin.content_assets.insert.title')

  .view__container

    .direct-upload{ data: { direct_upload: { type: 'asset' }.to_json, unsaved_changes: '' } }
      .direct-upload__content
        .direct-upload__heading= t('workarea.admin.direct_uploads.drop_files_here')
        .direct-upload__info= t('workarea.admin.direct_uploads.info')

    .browsing-controls.browsing-controls--with-divider.browsing-controls--center{ class: ('browsing-controls--filters-displayed' unless @search.toggle_facets?) }
      = form_tag insert_content_assets_path, method: 'get', class: 'browsing-controls__form' do
        = facet_hidden_inputs(@search.facets)
        .browsing-controls__sort
          .property.property--inline
            = label_tag 'sort', t('workarea.admin.search.sort_by'), class: 'property__name'
            = select_tag :sort, options_for_select(@search.sorts, selected: @search.sort), data: { form_submitting_control: '' }

        .browsing-controls__search
          .search-form
            = text_field_tag :q, params[:q], class: 'search-form__input', id: 'search_products', title: t('workarea.admin.search.keywords'), placeholder: t('workarea.admin.search.keywords')
            = submit_tag 'search_assets', class: 'search-form__button'

        = render 'workarea/admin/shared/creation_date', search: @search, form_path: insert_content_assets_path

        - if @search.facets.present?
          - @search.facets.each do |facet|
            = render "workarea/admin/facets/#{facet.type}", facet: facet

        - if @search.toggle_facets?
          .browsing-controls__toggle-filters
            %button.text-button{ type: 'button', data: { toggle_filters: '' } }= t('workarea.admin.search.show_filters')

      = render 'workarea/admin/facets/applied', search: @search, reset_path: content_assets_path

    .section
      - if @search.results.any?
        .grid.grid--auto.grid--flush.grid--center
          - @search.results.each do |result|
            .grid__cell= render_summary_for(result)

        - if @search.results.total_pages > 1
          = render 'workarea/admin/shared/pagination', collection: @search.results
