- @page_title = t('workarea.admin.content_assets.new.page_title')

.view
  .view__header
    .grid.grid--middle.grid--center
      .grid__cell.grid__cell--50
        .view__heading
          = link_to_index_for(@asset)
          %h1= t('workarea.admin.content_assets.new.title')

  .view__container

    - if @asset.errors.present?
      - @asset.errors.full_messages.each do |message|
        = render_message 'error', message

    = form_tag content_assets_path, method: 'post', multipart: true, id: 'asset_form', data: { unsaved_changes: '' } do

      .section

        .property
          = label_tag 'asset_name', t('workarea.admin.fields.name'), class: 'property__name'
          = text_field_tag 'asset[name]', @asset.name, class: 'text-box'

        .grid
          .grid__cell.grid__cell--50-at-medium
            .property
              = label_tag 'asset[file]', t('workarea.admin.fields.file'), class: 'property__name'
              = file_field_tag 'asset[file]', required: true
          .grid__cell.grid__cell--50-at-medium
            .property
              = label_tag 'asset[alt_text]', t('workarea.admin.fields.alt_text'), class: 'property__name'
              = text_field_tag 'asset[alt_text]', @asset.alt_text, class: 'text-box'
              %span.property__note= t('workarea.admin.content_assets.new.alt_text_note')

        .property
          = label_tag 'asset_tag_list', class: 'property__name' do
            %span= t('workarea.admin.fields.tags')
            = link_to '#tags-info', data: { tooltip: '' } do
              = inline_svg_tag('workarea/admin/icons/help.svg', class: 'svg-icon svg-icon--small svg-icon--blue')
          = text_field_tag 'asset[tag_list]', @asset.tag_list, class: 'text-box'
          %span.property__note= t('workarea.admin.content_assets.new.tags_note')

          #tags-info.tooltip-content= t('workarea.admin.content_assets.edit.tags_tooltip_html')

      .workflow-bar
        .grid.grid--auto.grid--right.grid--middle
          .grid__cell= button_tag t('workarea.admin.content_assets.new.create_asset'), value: 'create_asset', class: 'workflow-bar__button workflow-bar__button--create', data: { disable_with: t('workarea.admin.content_assets.new.create_asset_disabled_text') }
