#activity.style-guide__subsection

  %h3= link_to_style_guide('components', 'activity')

  %p A single activity entry.

  .style-guide__example-block
    .activity
      .activity__header
        .activity__avatar
          %span.avatar BC
        %h3.activity__name Ben Crouse
        %p.activity__time= time_tag(Time.current)
        .activity__actions
          .grid.grid--auto
            .grid__cell
              = button_tag value: 'edit_changes', class: 'text-button' do
                %span Edit
                = inline_svg('workarea/admin/icons/edit.svg', class: 'text-button__icon')
            .grid__cell
              = button_tag value: 'delete_changeset', class: 'text-button' do
                %span= t('workarea.admin.actions.delete')
                = inline_svg('workarea/admin/icons/delete.svg', class: 'text-button__icon')
      .activity__message
        Your mom created a product.
