#button.style-guide__subsection

  %h3= link_to_style_guide('components', 'button')

  %p Displays an element as interactive button.

  %p should work with <code>button[type=button]</code> elements:
  .style-guide__example-block
    = button_tag 'Button', class: 'button', type: 'button'

  %p should work with <code>button[type=submit]</code> elements:
  .style-guide__example-block
    = button_tag 'Button', class: 'button', type: 'submit'

  %p should work with <code>input[type=submit]</code> elements:
  .style-guide__example-block
    = submit_tag 'Button', class: 'button'

  %p should work with <code>a</code> elements:
  .style-guide__example-block
    = link_to 'Button', '#', class: 'button'

  %p should style non-interactive buttons wrapped in an <code>a</code> element:
  .style-guide__example-block
    = link_to '#' do
      %span.button Span Button

  %p should support disabled state:
  .style-guide__example-block
    = button_tag 'Button', class: 'button', type: 'button', disabled: true


#button--small.style-guide__subsection

  %h3= link_to_style_guide('components', 'button__small')

  %p should reduce the size of the button:
  .style-guide__example-block
    = button_tag 'Button Element', class: 'button button--small'


#button--create.style-guide__subsection

  %h3= link_to_style_guide('components', 'button__create')

  %p should change the color of a button:
  .style-guide__example-block
    = button_tag 'Button Element', class: 'button button--create'

  %p should support disabled state:
  .style-guide__example-block
    = button_tag 'Button Element', class: 'button button--create', disabled: true


#button--destroy.style-guide__subsection

  %h3= link_to_style_guide('components', 'button__destroy')

  %p should change the color of a button:
  .style-guide__example-block
    = button_tag 'Button Element', class: 'button button--destroy'

  %p should support disabled state:
  .style-guide__example-block
    = button_tag 'Button Element', class: 'button button--destroy', disabled: true
