#product-summary.style-guide__subsection

  %h3= link_to_style_guide('components', 'product_summary')

  %p Small, concise cards representing a product. Designed to be grouped together horizontally, reflowing based on their container's width.

  %p The product's name will automatically truncate.

  %p Supports an optional <code>.product-summary__remove</code> link.

  .style-guide__example-block

    .product-summary
      .product-summary__media
        .product-summary__image-wrapper
          = image_tag 'workarea/core/placeholder.png', size: '64x88', class: 'product-summary__image'
      %span.product-summary__name Product Title 1
      %span.product-summary__graph
        %span.spark {#{(0..9).to_a.shuffle.join(',')}}

    .product-summary
      .product-summary__media
        .product-summary__image-wrapper
          = image_tag 'workarea/core/placeholder.png', size: '64x88', class: 'product-summary__image'
      = link_to inline_svg_tag('workarea/admin/icons/close.svg', class: 'svg-icon svg-icon--small svg-icon--red', title: t('workarea.admin.actions.remove')), '#', class: 'product-summary__remove'
      %span.product-summary__name Very Long Product Title 3
      %span.product-summary__graph
        %span.spark {#{(0..9).to_a.shuffle.join(',')}}
