.grid
  .grid__cell.grid__cell--25
    .property
      = label_tag 'rule[medium]', t('workarea.admin.fields.medium'), class: 'property__name'
      = select_tag 'rule[medium]', options_for_select(traffic_referrer_medium_options, rule.medium)

  .grid__cell.grid__cell--50
    .property
      = label_tag 'rule[source]', t('workarea.admin.fields.source'), class: 'property__name'
      = text_field_tag 'rule[source]', rule.medium, class: 'text-box'
      %span.property__note
        = t('workarea.admin.segment_rules.fields.traffic_referrer.source_notes')
        = link_to '#source-help', data: { tooltip: { interactive: true } } do
          = inline_svg('workarea/admin/icons/help.svg', class: 'svg-icon svg-icon--small svg-icon--blue', title: t('workarea.admin.segment_rules.fields.traffic_referrer.source'))
      #source-help.tooltip-content
        %p= t('workarea.admin.segment_rules.fields.traffic_referrer.source_notes_html')
