<div class='section [ white-text align-center ]'>
  <h1>Style Guide</h1>
  <p>All example areas are heavily padded unless otherwise indicated.</p>
  <p>Please keep this style guide maintained by working here first.</p>
  <p>These examples are grouped thematically.</p>
  <p>Party on!</p>
</div>

<div class='section'>
  <h2>Typography</h2>

  <div class='section'>
    <h3>Links</h3>

    <div class='style-guide'>
      <a href='#'>Foo Link</a>
    </div>
  </div>

  <div class='section'>
    <h3>Headings</h3>

    <p>Use <code>h1</code> thru <code>h6</code> or the <code>heading</code> class with a numbered modifier.</p>

    <div class='style-guide'>
      <h1>Heading the First</h1>
      <h2>Heading the Second</h2>
      <h3>Heading the Third</h3>
      <h4>Heading the Fourth</h4>
      <h5>Heading the Fifth</h5>
      <h6>Heading the Sixth</h6>
    </div>
  </div>

  <div class='section'>
    <h3>Alt Heading</h3>

    <div class='style-guide'>
      <div class='alt-heading'>
        <span class='alt-heading__heading heading heading--6'>Foo Heading</span>
        <hr class='alt-heading__hr'>
      </div>
    </div>
  </div>

  <div class='section'>
    <h3>Alignment</h3>

    <p>Use <code>align-left</code>, <code>align-right</code> or <code>align-center</code>.</p>

    <div class='style-guide'>
      <p class='align-left'>Foo Left</p>
    </div>

    <div class='style-guide'>
      <p class='align-right'>Foo Right</p>
    </div>

    <div class='style-guide'>
      <p class='align-center'>Foo Center</p>
    </div>
  </div>

  <div class='section'>
    <h3>Paragraphs</h3>

    <div class='style-guide'>
      <p>digital geodesic warehouse singularity monofilament military-grade woman neural cyber- sign boat fluidity 3D-printed. neural 8-bit jeans industrial grade DIY post- hacker A.I. free-market meta- alcohol assassin courier. vinyl Kowloon market dead monofilament kanji j-pop rebar Shibuya hotdog human disposable military-grade.</p>

      <p>order-flow bridge 8-bit drone Shibuya garage fetishism refrigerator katana convenience store construct 3D-printed futurity. meta- 3D-printed tattoo stimulate beef noodles Kowloon order-flow RAF drone cardboard into disposable voodoo god. nodal point euro-pop dome plastic sentient realism assault table car semiotics tiger-team artisanal stimulate.

      <p>hotdog narrative dolphin nodality film cardboard hotdog tanto assassin wonton soup man smart- neon. man artisanal DIY physical faded tank-traps range-rover kanji shrine post- tanto tanto wonton soup. katana math- computer industrial grade vehicle neural tiger-team assassin pre- tiger-team network sign industrial grade.</p>

    </div>
  </div>

  <div class='section'>
    <h3>Lists</h3>

    <h4></h4>

    <div class='style-guide'>
      <ol type='a'>
        <li>shrine</li>
        <li>sub-orbital claymore</li>
        <li>3D-printed nano neuron</li>
      </ol>

      <p>computer bomb motion post- geodesic bridge military-grade saturation point knife saturation point numinous otaku film. tattoo nodal point sub-orbital otaku shoes sub-orbital claymore mine fluidity cardboard industrial grade grenade shrine tube.</p>

      <ol>
        <li>tower</li>
        <li>3D-printed</li>
        <li>sprawl</li>
        <li>faded</li>
        <li>sensory</li>
      </ol>

      <p>construct media -space RAF bomb Shibuya geodesic modem footage modem neural meta- smart-. skyscraper j-pop -ware nodality katana soul-delay convenience store order-flow pre- jeans katana spook vinyl. tiger-team carbon man nodal point car 3D-printed tanto modem lights 3D-printed cardboard pre- sunglasses.</p>

      <ul>
        <li>tank-traps</li>
        <li>warehouse</li>
        <li>realism</li>
      </ul>
    </div>
  </div>

  <div class='section'>
    <h3>Text</h3>

    <p>Small, helpful, one-off classes for easy text augmentation.</p>
    <p>Shown on a light blue background.</p>

    <div class='style-guide' style='background: #0240ff'>
      <p class='white-text bold-text'>Should be white <em>and</em> bold.</p>
    </div>
  </div>

  <div class='section'>
    <h3>Margins</h3>

    <p>Small, helpful, one-off classes for easy margin removal.</p>

    <div class='style-guide'>
      <p class='no-bottom-margin'>Paragraph 1: This paragraph...</p>
      <p class='no-top-margin'>Paragraph 2: Should be butt up against the previous paragraph!</p>
    </div>
  </div>

  <div class='section'>
    <h3>Horizontal Rule</h3>

    <p>Let's not split hairs and call this part of typography...</p>

    <div class='style-guide'>
      <hr>
    </div>
</div>


<div class='section'>
  <h2>Components</h2>

  <div class='section'>
    <h3><code>button</code> class</h3>

    <p>Intended for links or spans. Try out their hover state!</p>

    <div class='style-guide'>
      <a href='#' class='button'>Link Button</a>
    </div>

    <div class='style-guide'>
      <span class='button'>Span Button</span>
    </div>

    <h4><code>button--small</code> class</h4>

    <div class='style-guide'>
      <a href='#' class='button button--small'>Small Button</a>
    </div>

    <h4><code>button--full</code> class</h4>

    <div class='style-guide'>
      <a href='#' class='button button--full'>Full Button</a>
    </div>

    <h4><code>button--full</code> class</h4>

    <div class='style-guide'>
      <a href='#' class='button button--no-arrow'>Button Without An Arrow</a>
    </div>
  </div>

  <div class='section'>
    <h3><code>box</code> class</h3>

    <p>Intended to be links. Try their hover state!</p>
    <p>These examples are wrapped in a <code>grid</code> class.</p>

    <div class='style-guide'>
      <div class='grid grid--auto'>
        <div class='grid__cell'>
          <a href='#' class='box'>
            <div class='box__header'>
              <div class='grid'>
                <span class='grid__cell 3/5'>
                  <span class='box__heading'>Foo Box</span>
                </span>
                <span class='grid__cell 2/5 align-right'>
                  <span class='box__arrow'>⟶</span>
                </span>
              </div>
            </div>
            <p class='box__text'>
              Woman industrial grade decay dolphin wristwatch fluidity futurity sign.
            </p>
          </a>
        </div>

        <div class='grid__cell'>
          <a href='#' class='box'>
            <div class='box__header'>
              <div class='grid'>
                <span class='grid__cell 3/5'>
                  <span class='box__heading'>Foo Very Long Box</span>
                </span>
                <span class='grid__cell 2/5 align-right'>
                  <span class='box__arrow'>⟶</span>
                </span>
              </div>
            </div>
            <p class='box__text'>
              Plastic sentient advert film tiger-team.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class='section'>
    <h3><code>fancy-box</code> class</h4>

    <p>A fancy version of the box component.</p>
    <p>Intended for use with a modifier `fancy-box--orange`, `fancy-box--pink`, or `fancy-box--green`
    <p>These examples are wrapped in a <code>grid</code> class.</p>

    <div class='style-guide'>
      <div class='grid grid--auto'>
        <div class='grid__cell'>
          <div href='#' class='fancy-box fancy-box--green'>
            <div href='#' class='fancy-box__icon'>
              <%= partial 'shared/svgs', locals: { svg: 'getting_started' } %>
            </div>
            <span href='#' class='fancy-box__heading'>Foo Box</span>
            <ul href='#' class='fancy-box__links'>
              <li><a href='#' class='fancy-box__link'>Pen rifle</a></li>
              <li><a href='#' class='fancy-box__link'>Tank-traps</a></li>
              <li><a href='#' class='fancy-box__link'>Garage</a></li>
              <li><a href='#' class='fancy-box__link'>Neural tattoo</a></li>
              <li><a href='#' class='fancy-box__link'>Plastic engine</a></li>
            </ul>
            <div href='#' class='fancy-box__action'>
              <span href='#' class='button'>Button Party</span>
            </div>
          </div>
        </div>

        <div class='grid__cell'>
          <div href='#' class='fancy-box fancy-box--pink'>
            <div href='#' class='fancy-box__icon'>
              <%= partial 'shared/svgs', locals: { svg: 'architecture' } %>
            </div>
            <span href='#' class='fancy-box__heading'>Foo Box</span>
            <ul href='#' class='fancy-box__links'>
              <li><a href='#' class='fancy-box__link'>Pen rifle</a></li>
              <li><a href='#' class='fancy-box__link'>Tank-traps</a></li>
              <li><a href='#' class='fancy-box__link'>Garage</a></li>
              <li><a href='#' class='fancy-box__link'>Neural tattoo</a></li>
              <li><a href='#' class='fancy-box__link'>Plastic engine</a></li>
            </ul>
            <div href='#' class='fancy-box__action'>
              <span href='#' class='button'>Button Party</span>
            </div>
          </div>
        </div>

        <div class='grid__cell'>
          <div href='#' class='fancy-box fancy-box--orange'>
            <div href='#' class='fancy-box__icon'>
              <%= partial 'shared/svgs', locals: { svg: 'implementation' } %>
            </div>
            <span href='#' class='fancy-box__heading'>Foo Box</span>
            <ul href='#' class='fancy-box__links'>
              <li><a href='#' class='fancy-box__link'>Pen rifle</a></li>
              <li><a href='#' class='fancy-box__link'>Tank-traps</a></li>
              <li><a href='#' class='fancy-box__link'>Garage</a></li>
              <li><a href='#' class='fancy-box__link'>Neural tattoo</a></li>
              <li><a href='#' class='fancy-box__link'>Plastic engine</a></li>
            </ul>
            <div href='#' class='fancy-box__action'>
              <span href='#' class='button'>Button Party</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='section'>
    <h3><code>header</code> Class</h3>

    <p>The padding from this example has been removed.</p>

    <div class='style-guide' style='padding: 0;'>
      <div class='header'>
        <div class='grid'>
          <div class='grid__cell 2/6--lap-and-up'>
            <div class='header__logo'>
              <div class='grid grid--middle'>
                <div class='grid__cell 1/6 1/4--lap-and-up'>
                  <a href='#' class='header__icon-button'>
                    <%= image_tag('logo.svg', alt: 'Workarea Commerce', class: 'header__icon') %>
                  </a>
                </div>
                <div class='grid__cell 4/6 3/4--lap-and-up'>
                  <span class='header__logo-text'>Developer Documentation</span>
                </div>
                <div class='grid__cell 1/6'>
                  <div class='align-right'>
                    <a href='#' class='header__icon-button header__icon-button--menu'>
                      <%= image_tag('menu.svg', alt: 'Workarea Commerce', class: 'header__icon') %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='grid__cell 4/6--lap-and-up'>
            <div class='header__nav'>
              <nav class='grid grid--auto grid--right grid--middle grid--flush'>
                <span class='grid__cell'>
                  <a href='#' class='header__nav-item'>Release Notes</a>
                </span>
                <span class='grid__cell 1/6--lap-and-up'>
                  <a href='#' class='header__nav-item'>API</a>
                </span>
                <span class='grid__cell 1/6--lap-and-up'>
                  <a href='#' class='header__nav-item'>Plugins</a>
                </span>
                <span class='grid__cell 1/6--lap-and-up'>
                  <a href='#' class='header__nav-item'>Hosting</a>
                </span>
                <span class='grid__cell 1/6--lap-and-up'>
                  <a href='#' class='header__nav-item'>Forums</a>
                </span>
                <span class='grid__cell 1/6--lap-and-up'>
                  <a href='#' class='header__nav-item header__nav-item--alt'>
                    <%= partial 'shared/svgs', locals: { svg: 'workarea' } %>
                  </a>
                </span>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='section'>
    <h3><code>section</code> Class</h3>

    <p>Vertically separates sections.</p>
    <p>Intended for any block-level element.</p>

    <div class='style-guide'>
      <p class='section'>free-market bomb beef noodles order-flow j-pop skyscraper Shibuya artisanal order-flow sunglasses tanto plastic kanji. camera narrative pen carbon decay DIY post- shrine voodoo god denim gang tiger-team dome. wonton soup nodal point digital soul-delay towards DIY hotdog Legba spook 8-bit carbon nano- media. pen computer skyscraper systemic boat stimulate spook drugs faded soul-delay physical footage stimulate. tattoo A.I. bomb range-rover neural smart- free-market singularity drugs bridge meta- shanty town boat. smart- papier-mache smart- free-market monofilament smart- nodality wristwatch fetishism tattoo order-flow meta- plastic.</p>

      <p class='section'>corrupted wonton soup engine systema savant bomb tube modem papier-mache assassin cartel sprawl disposable. San Francisco office tank-traps nodal point artisanal hacker car apophenia claymore mine nodality semiotics weathered DIY. rifle beef noodles dead sign rebar -space -ware silent range-rover stimulate 3D-printed table tank-traps. voodoo god nano- vehicle vehicle pen hotdog apophenia pen youtube Chiba meta- otaku tower. voodoo god claymore mine city modem nodal point physical saturation point franchise face forwards convenience store BASE jump tanto sub-orbital. BASE jump fluidity faded order-flow man film fluidity warehouse weathered cartel systemic knife sensory.</p>

      <p class='section'>nodality kanji tank-traps 3D-printed j-pop engine narrative semiotics chrome grenade monofilament weathered geodesic. drugs jeans render-farm face forwards math- footage futurity lights sprawl vehicle crypto- otaku assassin. shrine jeans rifle bomb weathered otaku car grenade long-chain hydrocarbons woman tank-traps rain towards. dead wristwatch plastic apophenia camera post- fetishism Chiba sensory skyscraper assassin nodality euro-pop. A.I. youtube industrial grade papier-mache 3D-printed warehouse 3D-printed silent knife paranoid meta- render-farm corporation. man singularity -ware apophenia paranoid artisanal tattoo claymore mine range-rover tower savant sub-orbital augmented reality.</p>
    </div>
  </div>

  <div class='section'>
    <h3><code>search</code> Class</h3>

    <p>Intended for form elements.</p>
    <p>Displayed on a light blue background.</p>

    <div class='style-guide' style='background: #0240ff'>
      <form class='search'>
        <input type='search' class='search__input' name='q' placeholder='Plastic tube fetishism woman hacker lights'>
        <input type='submit' class='search__button' value='⟶'>
      </form>
    </div>
  </div>
</div>
