= append_partials('storefront.password_reset_mailer.top')

- content_for :preheader_text do
  = @content

%tr
  %td
    = @content
    %p= t('workarea.storefront.email.password_reset.info_html')
    %p= link_to reset_password_url(@reset.token), reset_password_url(@reset.token)

= append_partials('storefront.password_reset_mailer.bottom')
