- @page_title = @product.name

.view
  .view__header
    .grid
      .grid__cell.grid__cell--25
        = render 'workarea/admin/releases/select'
      .grid__cell.grid__cell--50
        .view__heading
          = link_to_index_for(@product)
          %h1= @product.name
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@product)

  .view__container
    = render_cards_for(@product)

    .workflow-bar
      .grid
        .grid__cell.grid__cell--50
          = link_to t('workarea.admin.actions.delete'), catalog_product_path(@product), class: 'workflow-bar__button workflow-bar__button--delete', data: { method: 'delete', confirm: 'Are you sure you want to delete this product?' }
        .grid__cell.grid__cell--50.grid--right
          = append_partials('admin.product_show_workflow_bar', model: @product)
          = link_to t('workarea.admin.catalog_products.show.copy_product'), new_catalog_product_copy_path(source_id: @product.id), id: 'copy_product', class: 'workflow-bar__button workflow-bar__button--create'
