.grid.grid--auto.grid--flush.grid--center
  .grid__cell
    .card{ class: card_classes(:attributes, local_assigns[:active]) }
      = link_to edit_content_page_path(model), class: 'card__header' do
        %span.card__header-text= t('workarea.admin.cards.attributes.title')
        = inline_svg_tag 'workarea/admin/icons/attributes.svg', class: 'card__icon'

      - if local_assigns[:active].blank?
        .card__body
          %ul.list-reset
            %li
              %strong= t('workarea.admin.fields.active')
              = check_box_tag 'page', 'active', model.active, disabled: true
              = segments_icons_for(model)
            %li
              %strong= t('workarea.admin.fields.show_left_navigation')
              = model.show_navigation?.to_s.titleize
            %li
              %strong= t('workarea.admin.fields.template')
              = model.template.try(:titleize).presence || '(none)'
            %li
              %strong= t('workarea.admin.fields.tags')
              = model.tags.join(', ').presence || '(none)'
            %li
              %strong= t('workarea.admin.fields.updated_at')
              #{local_time_ago(model.updated_at)}
            %li
              %strong= t('workarea.admin.fields.created_at')
              #{local_time_ago(model.created_at)}

          = link_to edit_content_page_path(model), class: 'card__button' do
            %span.button.button--small= t('workarea.admin.cards.attributes.button')

  .grid__cell
    = render 'workarea/admin/content/card', content: model.content, active: local_assigns[:active]

  .grid__cell
    = render 'workarea/admin/timeline/card', timeline: model.timeline, active: local_assigns[:active]

  .grid__cell
    = render 'workarea/admin/comments/card', commentable: model, active: local_assigns[:active]
