= link_to content_page_path(model), class: (model.active? ? 'summary' : 'summary summary--inactive') do
  %span.summary__name= t('workarea.admin.content_pages.summary.name', name: model.name)
  .summary__info-container
    %span.summary__info
      - if model.active?
        #{local_time_ago(model.updated_at)}
      - else
        %span.summary__info-text-inactive= t('workarea.admin.content_pages.summary.inactive')
    %span.summary__info
      - if model.breadcrumbs.blank?
        = t('workarea.alerts.issues.not_in_taxonomy')
      - else
        = model.breadcrumbs.join(' > ')
  %span.summary__type{ title: t('workarea.admin.content_pages.summary.type') }= t('workarea.admin.content_pages.summary.type')
